<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- CSS -->
    <link rel="stylesheet" href="master.css">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <div class="container">

<!-- NAV -->
            <div class="nav-aside">
                <a href="#"><i class="fas one fa-circle"></i><a>
                <a href="#"><i class="fas two fa-circle"></i></a>
                <a href="#"><i class="fas three fa-circle"></i></a>

                <div class="nav-aside-right">
                    <a href="#"><img class="img-contacts nav" src="img/avatar_1.jpg" alt=""></a>
                    <a href="#"><svg id="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 -3 25 25" width="24" height="24"><path fill="currentColor" d="M12.072 1.761a10.05 10.05 0 0 0-9.303 5.65.977.977 0 0 0 1.756.855 8.098 8.098 0 0 1 7.496-4.553.977.977 0 1 0 .051-1.952zM1.926 13.64a10.052 10.052 0 0 0 7.461 7.925.977.977 0 0 0 .471-1.895 8.097 8.097 0 0 1-6.012-6.386.977.977 0 0 0-1.92.356zm13.729 7.454a10.053 10.053 0 0 0 6.201-8.946.976.976 0 1 0-1.951-.081v.014a8.097 8.097 0 0 1-4.997 7.209.977.977 0 0 0 .727 1.813l.02-.009z"></path><path fill="#009588" d="M19 1.5a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"></path></svg></a>
                    <a href="#"><i class="far fa-edit"></i></a>
                    <a href="#"><i class="fas fa-chevron-down"></i></a>
                </div>
            </div>
            <div class="nav-main">
                <a href="#"><img class="img-contacts nav" :src="`img/avatar${contacts[index].avatar}.jpg`" alt=""></a>
                <a href="#" class="chat-name"><h3>{{ contacts[index].name }}</h3></a>
                <div class="nav-main-right">
                    <a href="#"><i class="fas fa-video"></i></a>
                    <a href="#"><i class="fas fa-phone-alt"></i></a>
                    <div class="bar"></div>
                    <a href="#"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="fas fa-chevron-down two"></i></a>
                </div>
            </div>

<!-- ASIDE -->
            <div class="aside">
                <!-- INPUT -->
                <div class="input">
                    <a href="#"><i class="fas fa-search"></i></a>               
                    <input class="contact-search" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>

<!-- CONTACTS -->
                <div class="contact" v-for="(contact, i) in contacts" :class="(i == index) ? 'active' : '' " @click="index = i">
                    <a href="#"><img class="img-contacts" :src="`img/avatar${contact.avatar}.jpg`" alt=""></a>
                    <div class="info-chat">
                        <a href="#"><h4>{{ contact.name }}</h4></a>
                        <a href="#"><p>Testo</p></a>
                    </div>
                </div>
            </div>

<!-- MAIN -->
            <div class="main">
                <div v-for="message in contacts[index].messages" :class="message.status">
                    <p>{{ message.text }}</p>
                    <span class="date-span">{{ getTime(message.date) }}</span>
                </div>

<!-- WRITE MESSAGES AREA -->
                <div class="inpuTXT-div">
                    <a href="#"><i class="far fa-grin i-txt"></i></a>
                    <a href="#"><i class="fas fa-paperclip i-txt"></i></a>
                    <input class="inpuTXT" type="text" placeholder="Scrivi un messaggio">
                    <a href="#"><i class="fas fa-microphone i-txt"></i></a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="dati.js"></script>
    <script src="master.js"></script>
</body>
</html>